<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="../static/EduBooks.png" type="image/png" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Produk Toko</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        font-family: "Poppins", serif;
        margin: 0;
        padding: 0;
        /* border: 1px solid red !important; */
      }

      .container-from {
        width: 100%;
        height: auto;
      }

      .form-control {
        width: 100%;
      }

      .input-group {
        margin-bottom: 1rem;
      }

      .container-footer {
        margin-top: 5rem;
        background-color: #efefef;
      }

      .btn-user {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        border: 1px solid gray;
        outline: none;
        cursor: pointer;
        background-color: #ffc943;
      }

      .tagline {
        color: black;
      }

      .nav-item .nav-link {
        font-size: 12px;
        color: #6c757d;
      }

      #EduBooks {
        margin-top: 1rem;
        color: gray;
        font-weight: 600;
      }
    </style>
    <script>
      function getBook(judul) {
        $.ajax({
          url: `/get_book/${judul}`,
          success: function (response) {
            let book = response.book;
            $("#edit-penulis").val(book.penulis);
            $("#edit-judulbuku").val(book.judul);
            $("#edit-harga").val(book.harga);
          },
        });
      }

      function updateBook() {
        let formData = new FormData();
        formData.append("penulis_give", $("#edit-penulis").val());
        formData.append("judul_give", $("#edit-judulbuku").val());
        formData.append("harga_give", $("#edit-harga").val());
        formData.append("file_give", $("#edit-imagebuku")[0].files[0]);
        formData.append("old_judul", currentJudul); // Replace with the current book's title

        $.ajax({
          url: "/update_book",
          method: "POST",
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            alert(response.msg);
            window.location.href = "/produk_server";
          },
        });
      }
    </script>
  </head>

  <body>
    <div
      class="container text-xs py-4 d-flex flex-row gap-2 align-items-start justify-content-start text-black"
      id="beranda"
    >
      <div
        class="d-flex flex-row justify-content-center align-items-center"
        style="margin-left: -100px"
      >
        <img
          src="../static/EduBooks.png"
          alt="icon"
          style="height: auto; width: 80px"
        />
        <h4
          id="EduBooks"
          style="cursor: pointer"
          onclick="window.location.href='/produk_server'"
        >
          < Pindah Produk
        </h4>
      </div>
    </div>

    <div style="margin-top: 2rem"></div>

    <div class="container-from">
      <h3 style="font-weight: bold; color: gray">Edit Book</h3>

      <form method="POST" enctype="multipart/form-data">
        <!-- Pratinjau gambar sebelumnya -->
        <div class="mb-3">
          <label for="inputGroupFile02" class="form-label"
            >Gambar Sebelumnya</label
          >
          <div>
            <!-- src="{{ url_for('static', filename='uploads/' + data.image) }}" -->
            <img
              alt="Gambar Sebelumnya"
              style="width: 10%; border-radius: 8px; margin-bottom: 10px"
            />
          </div>
        </div>

        <!-- Input untuk mengganti gambar -->
        <div class="mb-3">
          <label for="inputGroupFile02" class="form-label"
            >Upload Gambar Baru (Opsional)</label
          >
          <input
            type="file"
            class="form-control"
            name="file_give"
            id="imagebuku"
          />
        </div>

        <div class="mb-3">
          <label for="Penulis" class="form-label">Penulis</label>
          <input
            id="penulis"
            class="form-control"
            name="penulis_give"
            type="text"
            value="{{ data.penulis }}"
          />
        </div>

        <div class="mb-3">
          <label for="JudulBuku" class="form-label">Judul Buku</label>
          <input
            id="judulbuku"
            class="form-control"
            name="judul_give"
            type="text"
            value="{{ data.judul }}"
          />
        </div>

        <div class="mb-3">
          <label for="Harga" class="form-label">Harga</label>
          <input
            id="harga"
            class="form-control"
            name="harga_give"
            type="text"
            value="{{ data.harga }}"
          />
        </div>

        <button type="submit" class="btn btn-success btn-sm">
          Simpan Perubahan
        </button>
      </form>
    </div>

    <div class="container-footer">
      <footer class="py-5 px-10">
        <div class="row px-5">
          <div class="col-6 col-md-2 mb-3">
            <h6 class="tagline">Produk EduBooks</h6>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary"
                  >EduBooks Afiliasi</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary"
                  >Mitra Afiliasi</a
                >
              </li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h6 class="tagline">Informasi Belanja</h6>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary"
                  >Berbelanja</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary"
                  >Pembayaran</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary"
                  >Pengiriman</a
                >
              </li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h6 class="tagline">Tentang EduBooks</h6>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary"
                  >Tentang Kami</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary"
                  >Toko Kami</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">About</a>
              </li>
            </ul>
          </div>

          <div class="col-md-5 offset-md-1 mb-3">
            <form>
              <h6 style="margin-left: auto">Aplikasi Seluler Kami</h6>
              <p class="text-sm" style="font-size: 14px">
                Download aplikasi EduBooks yang tersedia di seluruh perangkat
                iOS dan Android
              </p>
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <div
                  class="d-flex flex-row gap-2"
                  style="width: 30%; height: auto"
                >
                  <img
                    src="../static/apple-app-store.webp"
                    alt="app"
                    width="50%"
                    height="auto"
                  />
                  <img
                    src="../static/google-play.webp"
                    alt="app"
                    width="50%"
                    height="auto"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
